# SPDX-FileCopyrightText: 2004-2026 The Cacti Group
# SPDX-FileCopyrightText: 2026 The Kadupul project and contributors
# SPDX-License-Identifier: GPL-2.0-or-later

[Unit]
Description=Kadupul Daemon Main Poller Service
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
#EnvironmentFile=/etc/sysconfig/cactid
ExecStart=/var/www/html/cacti/cactid.php
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
