# SPDX-FileCopyrightText: 2026 The Kadupul project and contributors
# SPDX-License-Identifier: GPL-3.0-or-later
# Native CI scanner; matches the former digest-pinned image's release.
semgrep==1.179.0
